@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out;
}


::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: black; 
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-400 rounded-full
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
